<p><%= link_to('Sign In', new_client_session_path) %></p>
<h1>Boost your hiring process in just 3 simple steps</h1>
<p>1. <%= link_to 'Sign Up', new_client_registration_path %></p>
<p>2. Get code</p>
<p>3. Add to your website</p>
